img.galleryItem {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2px #333;
    transition: all 1.5s ease;
}

.imageGallery .galleryItem:hover {
    box-shadow: 0 0 8px #333;
    border-radius: 8px;
}

.imageGallery .galleryItem {
    transition: all 0.5s ease;
    cursor: pointer;
}

.imageGallery .galleryItem:hover .transformable {
    transform: scale(1.025);
}


.full {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    max-width: 95%;
    object-fit: cover;

}

.full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    display: flex;
    align-content: center;
    max-width: 95%;

}

.full .content .galleryItem {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 4s ease;
    margin: auto;


    max-width: 95%;
}

.minimize {
    opacity: 0;
}

.minimize:hover {
    transform: scale(0.2) !important;
}


@media (max-width: 400px) {
    .galleryItem {
        align-items: center;
        justify-self: center;
    }
}

@-moz-keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}

@-o-keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}

@keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}
