img.galleryItem {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2px #333;
    transition: all 1.5s ease;
}

.imageGallery .galleryItem:hover {
    box-shadow: 0 0 8px #333;
    border-radius: 8px;
}

.imageGallery .galleryItem {
    transition: all 0.5s ease;
    cursor: pointer;
}

.imageGallery .galleryItem:hover {
    transform: scale(1.025);
}